# Виртуальное окружение Python
venv/
env/

# Скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Локальные файлы конфигурации Firebase
firebase_config.json

# Временные файлы
*.csv  # Игнорируем временные CSV, которые создаются при загрузке
*.log
*.tmp

# Системные файлы macOS
.DS_Store

# Зависимости, установленные через pip
*.egg-info/
dist/
build/

# Локальные файлы редакторов
*.swp
*.swo
.vscode/
.idea/
upload_1743359203.csv
upload_1743360125.csv
upload_1743360329.csv
upload_1743360828.csv
results/rfm_results_1743359205.csv
results/rfm_results_1743360127.csv
results/rfm_results_1743360331.csv
results/rfm_results_1743360830.csv
